html {

/* IE10+ */ 
background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #C98989 50%, #CC2B12 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #C98989 50%, #CC2B12 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #FFFFFF 0%, #C98989 50%, #CC2B12 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(50, #C98989), color-stop(100, #CC2B12));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #C98989 50%, #CC2B12 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom right, #FFFFFF 0%, #C98989 50%, #CC2B12 100%);

}